*.class
build/
bin/
.gradle/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/java/ChabuTest/server.log.txt
/java/ChabuTest/client.log.txt
/c-sharp/Chabu/obj
/c-sharp/ChabuCSTest/bin
/c-sharp/ChabuCSTest/obj
/c-sharp/org.chabu.test.director/obj
/c-sharp/Debug
/c-sharp/ipch
/c-sharp/packages
/c-sharp/TestResults
/c/org.chabu.utest/*.stackdump
/c/org.chabu/.settings/language.settings.xml
/c/org.chabu.utest/.settings/language.settings.xml
