<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.61.0.0" targetFramework="native" />
  <package id="boost_atomic-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_chrono-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_container-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_context-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_coroutine-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_date_time-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_exception-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_graph-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_iostreams-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_locale-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_log_setup-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_log-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_math_c99f-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_math_c99l-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_math_c99-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_regex-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="boost_system-vc140" version="1.61.0.0" targetFramework="native" />
  <package id="googletest.v140.windesktop.static.rt-dyn" version="1.7.0.1" targetFramework="native" />
</packages>