<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="org.chabu.test.director.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <org.chabu.test.director.Properties.Settings>
            <setting name="HostA" serializeAs="String">
                <value>localhost:15000</value>
            </setting>
            <setting name="HostB" serializeAs="String">
                <value>localhost:15100</value>
            </setting>
            <setting name="SelectedTest" serializeAs="String">
                <value />
            </setting>
        </org.chabu.test.director.Properties.Settings>
    </userSettings>
</configuration>
